body{
   /* background-image: linear-gradient(to right,violet ,skyblue,pink ,orange,lightblue ) 
    background-image: radial-gradient(blue,green,orange)    */

}
nav{
    width: 100%;
    background:black;
}
ul{
    margin: 0;
}
li{

    display:inline;
}
ul li a{
    text-decoration:none;
    font-size: 25px;
    color:white;
    padding: 30px;
    display: inline-block;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    margin: 40px;
}
input:focus{
    widows: 250px;
    height: 40px;
    margin: 40px;
    background: lightblue;
    border-radius:15px;
    box-shadow: 50px; 
}
#login{
    width:100px;
    padding:15px;
    height: 40px;
    background: lightgreen;

}
