<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />    
    <title>React App</title>
  </head>
  <style>
      .aqua{
          color: aqua;
      }
  </style>
  <body>
    <div id="app"></div>
    
    <script src= "https://unpkg.com/react@15.4.2/dist/react.js"></script>
    <script src= "https://unpkg.com/react-dom@15.4.2/dist/react-dom.js"></script>
    <!-- <script src="component.js"></script> -->
    <script src="componentClass.js"></script>
    <script>

    </script>
  </body>
</html>
